.friendsInterfaLeft{
    background: rgba(0,0,0,0.1);
    float: left !important;
    width: 20%;
    height: 692px;
    border: 1px solid rgba(200, 50,20, 0.2);
    overflow: hidden;
}
.friendsInterfaLeft .onlieUserList,.friendsInterfaLeft .friendUserList{
    width: 100%;
}
.friendsInterfaLeft .pFriendUserListBox,.friendsInterfaLeft .pOnlieUserListBox{
    text-align: center;
    color: darkorange;
    font-size: 1em;
    font-family: "宋体";
    margin-top: 10px;
    margin-bottom: 10px;
}
.onlieUserList .simpleMsg,.friendUserList .simpleMsg{
    background: rgba(0,0,0,0.2);
    border-bottom: 1px solid  rgba(0,0,0,0.4);
    border-top: 1px solid  rgba(0,0,0,0.2);
    border-collapse: collapse;
}

.friendsInterfaLeft .onlieUserListBox,.friendsInterfaLeft .friendUserListBox{
    width: 120%;
    max-height: 88%;
    overflow: hidden;
    overflow-y:scroll;
}
.chatInterfaceRight{
    border: 1px solid rgba(200, 50,20, 0.2);
    float: left;
    width: 77%;
}

.simpleMsg{
    width: 100%;
    overflow: hidden;
}
.simpleMsg .textLeft{
    width: 7%;
     float: left;
}
.simpleMsg .textLeft .img{
    padding:10%;
}
.simpleMsg .textLeft .img img{
    width: 80%;
    margin: auto;
    border-radius: 500px;
}
.simpleMsg .textRight{
    float: left;
    font-size: 10px;
    margin-top:1em;
    width: 90%;
}
.simpleMsg .textRight .textRightName p{
    color: aquamarine;
    font-size: 1.3em;
    font-family: "宋体";
}
.simpleMsg .textRight .textRightMsg{
    margin-top:1em;
    width: 100%;
}
.simpleMsg .textRight .textRightMsg p{
    color: aqua;
    font-size: 1.7em;
    font-family: "宋体";
}
.simpleMsg .textRight .textRightMsg img{
   width: 30%;
}
.pcomeChat{
    text-align: center;
    color: darkorange;
    font-family: "宋体";
    font-size: 0.7em;
    margin-left: 38%;
    margin-right: 38%;
    letter-spacing: 3px;
    background: rgba(200, 50,20, 0.2);
    border-radius: 100px;
    padding: 5px 0 5px 0;
}
.pgroupChat{
    text-align: center;
    color: darkorange;
    font-size: 1em;
    font-family: "宋体";
}
.friendsInterfaLeft .textLeft{
    width: 20%;
    margin-left: 10%;
}
.friendsInterfaLeft .textRight{
    width: 70%;
}
.rightSetting{
   position: absolute;
   right :0px !important;
}
.rightSetting .sendImg{
    text-align: center;
    color: darkorange;
    top: 10px;
    position: absolute;
    right:10px;
}
.rightSetting .sendImg{
    
}

